.dash-container{
	width: 79%;
	position: absolute;
	position: fixed;
	top: 0;
	padding-left: 4%;
	height: 100vh;
	z-index: 1000;
	background-color: rgba(250,250,250,0.95);
	border-radius: 50px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -mos-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    left: -2000px;
}
.libro-imagen2{
	margin:10%;
	margin-left: 20%;
	margin-bottom: 20%;
}
.input-field{
	margin-right: 1cm;
	margin-top: 25px;
	margin-bottom: 100px;
	
}
.materialize-textarea{
	max-height: 360px !important;
}
.info-comentario{
	color:gray;
	position: absolute;
	top: 30px;
	left:22%;
	letter-spacing: -1px;
}
.oculto{
	display: none !important;
}
.calificar-title{
	width: 100%;
	padding: 25px 10px 5px 1.2cm;
}
.btn-calif{
	background-color: #410401;
	margin-left: 75%;
}
.Njo8s{
	border-bottom: 1px solid #CCC;
    margin: 30px 30px 30px 0;
    width: 100%;
}
.izquierda{
	height: 100vh;
	border-right: 5px solid rgba(225,235,235,0.5);
}
.derecha{
	height: 100vh;
}
.libro-imagen{
	margin-left: 10%;
	margin-top: 30px;
}
.estrellas2{
	margin-left: 10%;
}
.estrellas2>i{
	font-size: 35px;
}
.calificar{
	margin-top: 85px;
}
.estrellas3{
	padding-top: 14px !important;
	position: absolute;
	bottom: 30px;
}

.estrellas3>i{
	font-size: 40px;
	margin-right: 2px;
	cursor: pointer;
}
.enviar-com{
	position: absolute;
	bottom: 30px;
	left: 78%;
}
.boton-descarga{
	margin-top: 20px;
	margin-left: 10% !important;	
}
.close{
	position: relative;
	left: 90%;
	top: 20px;
	cursor: pointer;
}
.text-autor2{
  font-size: 19px;
  color:#979797;
  margin-bottom: 20px;
}
h3{
	margin: 1.9466666667rem 0 0 0;
}
.des{
	text-align: justify;
}
.scroll-vic{
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	width: 80%;
	margin-top: 5px;
	margin-left: 16%;
	padding-right: 10%;
}